.vscode/**
**/*.ts
**/*.map
.gitignore
.eslintignore
.eslintrc.js
*.vsix
**/tsconfig.json
**/tsconfig.base.json
contributing.md
.travis.yml
client/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
!client/dist/extension.js
node_modules/**
server/**
!server/dist/server.js


